.container__image{
    width: 80%;
    
}
container__image{
    height: 10px;
}
.logos{
    width: 30px;
    height: 30px;
}
.logos-1{
    width: 30px;
    height: 30px;
}

.proyecto_image{
    width:80%;

}